@import "tailwindcss";

@font-face {
  font-family: 'Inter Light';
  src: url('/fonts/Inter-Light.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000;
  color: #ffffff;
  font-family: 'Inter Light', sans-serif;
}

.font-cinzel {
  font-family: 'Cinzel Decorative', cursive;
}

::-webkit-scrollbar {
  display: none;
}
